@page "{id}"
@model IndexModel
@{
	ViewData["Title"] = "Project Details";
}
<div class="container">
	<div class="card">
		<div class="card-header">
			<div class="d-flex align-items-center">
				<h5 class="mr-auto card-title d-none d-lg-block">@Model.Item.Name</h5>
				<a class="ml-1 align-self-end btn btn-sm btn-outline-primary" href="~/projects/edit/@Model.Item.Id">
					<i class="fas fa-plus d-lg-none"></i>
					<span class="d-none d-lg-block"><i class="fas fa-plus"></i>Edit</span>
				</a>
			</div>
		</div>
		<div class="card-body">
			<div id="plot1"></div>
			<div id="plot2"></div>
		</div>
	</div>
</div>

@section scripts{
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/boost.js"></script>
	<script>
		var distances = @Json.Serialize(Model.Data.Distance);
		var freq = @Json.Serialize(Model.Data.Traces[26]);
		var times = @Json.Serialize(Model.Lines);
		var boundaries = @Json.Serialize(Model.Boundaries);
		var boundaryIndexes = @Json.Serialize(Model.Data.ToBoundariesIndex(Model.Boundaries));
		var dates = @Json.Serialize(Model.Data.MeasurementStart);
	</script>
	<script>
		var colors = ['#4403A9', '#2BA512', '#325AE0', '#0DE94B', '#6DF912'];
		var boundaryBands = [];
		for (var i = 1; i < boundaries.length; i++) {
			boundaryBands.push({ color: colors[i-1], from: boundaries[i-1], to: boundaries[i], label: { text: `F${i}` } });
		}

		var freqDistance = [];
		var freqTimes = [];
		for (var i = 0; i < distances.length; i++) {
			freqDistance.push([distances[i], freq[i]]);
		}
		for (var i = 0; i < times.length; i++) {
			freqTimes.push([new Date(dates[i]), times[i]]);
		}

		var yAxis = { title: { text: 'Frequency Shift (GHz)' } };

		Highcharts.chart('plot1', {
			chart: { type: 'scatter', zoomType: 'xy' },
			title: { text: 'Frequency shift vs Time' },
			//subtitle: { text: 'show fiber boundaries' },
			legend: { enabled: false },
			yAxis,
			xAxis: { 
				title: { text: 'Times (hours)' },
				type: 'datetime'
			},
			series: [{
				color: 'red',
				data: freqTimes,
				//lineWidth: 0.5,
				name: 'Frequency Shift'
			}]
		});
		Highcharts.chart('plot2', {
			chart: { zoomType: 'x' },
			title: { text: 'Frequency shift vs Distance' },
			legend: { enabled: false },
			xAxis: { 
				title: { text: 'Distance (m)' },
				plotBands: boundaryBands,
				//plotBands: [{ from: 2, to: 5, label: { text: 'F1' } }]
			},
			tooltip: {
				headerFormat: '<b>{series.name}</b><br>',
				pointFormat: '{point.x:.2f}: {point.y:.2f} m'
			},
			series: [{
				type: 'line',
				data: freqDistance,
				lineWidth: 0.5,
				name: 'Frequency Shift'
			}]		
		});
	</script>
}
