<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Intelligent DFOS Characterisation System</title>
    <link rel="icon" href="~/img/mmu_icon.png">
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/adminlte.min.css" />
    @*<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Klinik.styles.css" asp-append-version="true" />*@
    @await RenderSectionAsync("styles", required: false)
</head>
<body class="hold-transition layout-top-nav">
    <div class="wrapper">
        <nav class="main-header navbar navbar-expand-md navbar-light bg-light">
            <div class="container">
                <a href="~/" class="navbar-brand">
                    <img src="~/img/mmu_icon.png" alt="Logo" class="brand-image" style="height:33px;">
                    <span class="brand-text d-none d-lg-inline-block">Intelligent DFOS Characterisation System</span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="menu">
                    <ul class="navbar-nav ml-auto">
                        @if (User.IsLogged())
                        {
                            @if (User.IsAdmin())
                            {
                                <li class="nav-item"><a class="nav-link" href="~/fibers"><img src="~/img/fiber.png" width="24" /> Fibers</a></li>
                                <li class="nav-item"><a class="nav-link" href="~/users"><img src="~/img/users.png" width="24" /> Users</a></li>
                            }
                            <li class="nav-item"><a class="nav-link" href="~/pdf/manual.pdf" target="_blank"><img src="~/img/doc.png" width="24" /> Manual</a></li>
                            <li class="nav-item"><a class="nav-link" href="~/files/dfos.zip" target="_blank"><img src="~/img/link.png" width="24" />Session Runner</a></li>
                            <li class="nav-item"><a class="nav-link" href="~/users/edit/@User.GetId()" title="@User.GetName()"><img src="~/img/user.png" width="24"/> Profile</a></li>
                            <li class="nav-item"><a class="nav-link" asp-page-handler="Delete" asp-page="/Users/Auth"><img src="~/img/signout.png" height="24" /> Sign Out</a></li>
                        }
                        else
                        {
                            <li class="nav-item"><a class="nav-link" href="~/users/auth">Sign In</a></li>
                        }
                    </ul>
                </div>
            </div>
        </nav>

        <div class="content-wrapper">
            @if (User.IsLogged())
            {
                <div class="content-header">
                    <div class="container">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1 class="m-0 text-dark">@ViewData["Title"]</h1>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="~/">Home</a></li>
                                    @if (ViewData["Title"]?.ToString() != "Home")
                                    {
                                        <li class="breadcrumb-item active">@ViewData["Title"]</li>
                                    }
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <br />
            }
            <main role="main" class="content">
                @RenderBody()
            </main>
        </div>

        <footer class="main-footer">
            <div class="container">
                &copy; 2023 - @(DateTime.Now.Year == 2023 ? "" : DateTime.Now.Year)
                <a href="//www.mmu.edu.my">MMU.</a> |
                <a href="//www.petronas.com.my">Petronas</a>
            </div>
        </footer>

    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("scripts", required: false)
</body>
</html>